@model MyVehiclesViewModel
@{
    ViewBag.Title = "My Jets";
}
<h2 class="text-center text-primary">@ViewBag.Title</h2>
<hr />
<h4 class="text-primary">My Added Jets</h4>
@if (!Model.AddedVehicles.Any())
{
    <h2 class="text-center">You have no added jets yet!</h2>
}
<div class="row">
    @foreach (var jet in Model.AddedVehicles)
    {
        @await Html.PartialAsync("~/Views/Shared/_JetPartial.cshtml", jet)
    }
</div>
<h4 class="text-primary">My Rented Jets</h4>
@if (!Model.RentedVehicles.Any())
{
    <h2 class="text-center">You have no rented jets yet!</h2>
}
<div class="row">
    @foreach (var jet in Model.RentedVehicles)
    {
        @await Html.PartialAsync("~/Views/Shared/_JetPartial.cshtml", jet)
    }
</div>