@model List<VehicleAllViewModel>
@{
    ViewData["Title"] = "My Jets";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br />

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any jets yet!</h2>
}
else
{
    <div class="row">
        @foreach (VehicleAllViewModel jet in Model)
        {
            <partial name="_JetPartial" model="jet" />
        }
    </div>
}