@model List<VehicleAllViewModel>
@{
    ViewData["Title"] = "My Trucks";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br />

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any trucks yet!</h2>
}
else
{
    <div class="row">
        @foreach (VehicleAllViewModel truck in Model)
        {
            <partial name="_TruckPartial" model="truck" />
        }
    </div>
}