@using Microsoft.AspNetCore.Identity
@using Vehicle2Go.Data.Models.User
@using Vehicle2Go.Services.Data.Interfaces
@using Vehicle2Go.Web.Infrastructure.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService

@inject IAgentService AgentService
@{
    bool isUserAgent = await AgentService.AgentExistByUserIdAsync(this.User.GetId()!);
    string userFullName = await UserService.GetFullNameAsync(User.Identity?.Name!);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (!isUserAgent)
        {
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="" asp-controller="Agent" asp-action="Become">Become Agent</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @userFullName</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-primary">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
