@model List<VehicleAllViewModel>
@{
    ViewData["Title"] = "My Yachts";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br />

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any yachts yet!</h2>
}
else
{
    <div class="row">
        @foreach (VehicleAllViewModel yacht in Model)
        {
            <partial name="_YachtPartial" model="yacht" />
        }
    </div>
}